body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background: rgb(66, 63, 63);
}

.silver {
    background: rgba(136, 136, 133, 0.5);
}

.red {
    background: rgba(247, 34, 34, 0.5);
}

.green {
    background: rgba(17, 226, 62, 0.5);
}

.container-stopwatch {
    width: 20%;
    padding: 1%;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0 0 10px black;
    margin-top: 20%;

}

.stopwatch-display {
    padding: 10%;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 10%;
    border-radius: 8%;
}

.dispaly-color {
    background: rgba(20, 139, 219, 0.5);
}

.stopwatch-display span {
    font-size: 150%;
}

.stopwatch-control button {
    text-transform: uppercase;
    color: rgb(232, 221, 221);
    background: rgba(0, 0, 0, 0.829);
    border-radius: 8%;
}

.stopwatch-control button:nth-child(2) {
    margin: 2%;
}