/*----------------------General settings-----------------------------*/
body {
    margin: 0 auto;
    font-family: sans-serif, Calibri;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* Menu1 */

header {
    background-color: rgba(76, 177, 202, 1);
    line-height: 4em;
}

.wrapper {
    width: 1022px;
    margin: 0 auto;
    display: flex;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu1 a {
    margin-left: 19px;
}

.menu1 span {
    color: white;
    margin-left: 10px;
}

.options div {
    color: rgba(190, 242, 255, 1);
}

.options a {
    margin-left: 5px;
}

#currency {
    margin-left: 10px;
}

/* Menu2 */

.title {
    padding: 30px 30px;

}

.title div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu2 a:first-child {
    margin-left: 30px;
}

.menu2 a {
    text-transform: uppercase;
    margin-right: 18px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(101, 101, 101, 1);
    padding-top: 1%;
}

#cart a {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(101, 101, 101, 1);
    padding-top: 1%;
}

form {
    position: relative;
    /* margin-top: -5px; */
}

input {
    display: block;
    width: 177px;
    height: 32px;
    border: 1px solid;
    border-color: rgba(198, 198, 198, 1);
    padding-left: 12px;
    margin-left: 80px;
}

button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 30px;
    background-color: white;
    border: none;
}

.nav {
    align-items: center;
}

.circle_menu2 img {
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 2px;
}

.circle_menu2 {
    width: 36px;
    height: 36px;
    margin-top: -9px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgba(125, 177, 34, 1);
}




/* Slides */

#banner {
    position: relative;
    height: 475px;
    width: 100%;
}

.slides {
    overflow: hidden;
}

.slides:hover img {
    transform: scale(1.2);
}

img {
    transition: transform 1.5s;
}

.left img {
    width: 26px;
    height: 30px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    padding: 15px;
    left: 195px;
    top: 350px;
}

.right img {
    width: 26px;
    height: 30px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    padding: 15px;
    right: 195px;
    top: 350px;
}

div.slides span:first-of-type {
    font-weight: 300;
    position: absolute;
    left: 295px;
    top: 350px;
}

div.slides span:last-of-type {
    font-weight: bold;
    position: absolute;
    left: 295px;
    top: 415px;
}

div.slides span {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 48px;
    color: white;
    background-color: rgba(41, 39, 39, 0.5);
    padding: 6px;
}

/* Main */

.products {
    width: 772px;
    justify-content: space-between;
}

.conteiner {
    width: 220px;
    height: 319px;
    border: 3px solid;
    border-color: rgb(179, 177, 177, 0.3);
    flex-wrap: wrap;
    position: relative;
    display: inline-block;
    margin: 7px;
}

.chapter {
    font-size: 24px;
    text-transform: uppercase;
}

.glases {
    position: absolute;
    top: 20px;
    left: 20px;
}


.glasses:hover img {
    transform: scale(1.1);
    cursor: pointer;
}


.img-label-blue {
    position: absolute;
    top: -5px;
    left: 131px;
    z-index: 4;
}

.img-label-point-blue-right {
    position: absolute;
    top: 83px;
    left: 223px;
}

.img-label-point-blue-left {
    position: absolute;
    top: -5px;
    left: 130px;
}


.img-label-green {
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: 4;
}

.img-label-point-green-right {
    position: absolute;
    top: 83px;
    left: -5px;
}

.img-label-point-green-left {
    position: absolute;
    top: -5px;
    left: 86px;
}


div[class*="green"]:after {
    content: "sale";
    top: 18px;
    right: 175px;
    transform: rotate(-45deg);
    position: absolute;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    z-index: 5;
}

div[class*="blue"]:after {
    content: "new";
    top: 18px;
    right: 11px;
    transform: rotate(45deg);
    position: absolute;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    z-index: 5;
}


.glasses {
    width: 210px;
    height: 235px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    background-color: rgb(179, 177, 177, 0.3);
}

.img-glasses {
    position: absolute;
    top: 40px;
    left: 10px;
    fill-opacity: 0;
}

div.conteiner span:nth-of-type(1) {
    font-size: 1.1em;
}

.cost {
    font-size: 1.3em;
    text-decoration: line-through;
}

div.conteiner span:nth-last-of-type(1) {
    font-size: 1.5em;
    color: rgba(125, 177, 34, 1);
}

.price_place {
    height: 40px;
    width: 170px;
    margin-top: 240px;
    margin-left: 2px;
    padding-top: 12px;
    padding-left: 2px;
    color: black;
}

.cart_button {
    width: 40px;
    height: 40px;
    margin-left: 170px;
    margin-top: -39px;
    border-radius: 50%;
    background-color: rgba(125, 177, 34, 1);
    position: relative;
}

.bay {
    top: 5px;
    left: 6px;
    position: absolute;
}


/* Right banner */


.banner_place {
    width: 240px;
    height: 800px;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
}

.aside-img {
    position: absolute;
    top: -15px;
    left: -120px;
}

.button {
    position: absolute;
    top: 335px;
    left: 56px;
    width: 133px;
    height: 43px;
    font-size: 14px;
    color: white;
    background-color: rgba(76, 177, 202, 1);
    cursor: pointer;
    z-index: 6;
}

.button:hover {
    background: rgb(55, 152, 177);
}

.conteiner_aside {
    height: 486px;
    border-left: 3px solid rgba(179, 177, 177, 0.3);
    border-right: 3px solid rgba(179, 177, 177, 0.3);
    border-bottom: 3px solid rgba(179, 177, 177, 0.3);
    border-top: 5px solid rgba(42, 149, 225, 1);
    /* margin-top: -25px;
    margin-left: 12px; */
    /* padding-top: 4px;
    padding-left: 11px;
    padding-right: 4px; */
    /* padding: 5px; */
    position: relative;
}

.glasses_aside {
    width: 216px;
    height: 340px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-left: 9px;
}

.circles_place {
    flex-wrap: wrap;
    justify-content: center;
    height: 42px;
    border-top: 3px solid;
    border-color: rgb(179, 177, 177, 0.3);
    display: flex;
}

.circle {
    width: 12px;
    height: 12px;
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(125, 177, 34, 1);
    flex-direction: row;
}

.color {
    background-color: rgba(76, 177, 202, 1);
    flex-direction: row;
}

.subscribe {
    height: 282px;
    border: 3px solid;
    border-left: 3px solid rgba(179, 177, 177, 0.3);
    border-right: 3px solid rgba(179, 177, 177, 0.3);
    border-bottom: 3px solid rgba(179, 177, 177, 0.3);
    border-top: 5px solid rgba(42, 149, 225, 1);
    margin-top: 30px;
    margin-left: 8px;
    /* padding-top: 4px;
    padding-left: 11px;
    padding-right: 4px; */
    padding: 10px;
    position: relative;
}

.paragraf-position {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 46px; */
    padding-top: 10px;
    /* margin-left: 1px; */
    /* z-index: 3; */
}

.paragraf1 {
    top: 25px;
    left: 25px;
}

.paragraf2 {
    top: 86px;
    left: 25px;
}

aside p {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 3px;
}

.form_subscribe {
    position: absolute;
    top: 166px;
    left: -65px;
    width: 186px;
    height: 30px;
    margin-left: 1px;
}

.button_subscribe {
    position: absolute;
    top: 52px;
    right: -45px;
    width: 113px;
    height: 45px;
    font-size: 1.1em;
    color: white;
    background-color: rgba(125, 177, 34, 1);
    text-transform: none;
    border: none;
}

.button_subscribe:hover {
    background-color: rgb(110, 155, 33);
}

.paragraf_text {
    font-size: 1em;
    text-transform: none;
    line-height: 17px;
    text-align: center;
    margin-block-start: 16px;
    margin-block-end: 0px;
}

main {
    display: flex;
}

/* Footer-top */

.footer_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(76, 177, 202, 1);
    line-height: 4em;
}

.footer_top div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_top {
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(76, 177, 202, 1);
    margin-top: 60px;
}


div.footer_top img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-top: 17px;
}

div.footer_top p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}


/* Footer middle */

.footer_middle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(62, 150, 172);
    padding-top: 30px;
    color: white;
}


div.footer_middle p {
    margin-block-start: 24px;
    margin-block-end: 40px;
    font-size: 21px;
    text-transform: uppercase;
}

.facebook {
    width: 236px;
    margin-right: 30px;
}

.fb {
    height: 223px;
    margin-top: 27px;
}

div.fb p {
    width: 165px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
}

div.icon-fb,
.icon-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid;
}

div.icon-fb {
    width: 222px;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    border-color: rgba(76, 177, 202, 1);
}

.twitter {
    width: 223px;
    margin-right: 30px;
}

.tw {
    height: 223px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 27px;
}

div.tw p {
    width: 165px;
    margin-top: -2px;
    margin-left: 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
}

div.tw span {
    color: #BEF2FF;
}

div.tw div:nth-child(odd) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

div.tw img {
    width: 21px;
    height: 20px;
    padding-top: 13px;
    padding-left: 12px;
}

.information {
    width: 192px;
    margin-right: 20px;
}

div.footer-midle ul {
    margin-left: -40px;
    margin-block-start: -8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}

div.information li::before {
    content: "›";
    font-size: 23px;
    margin-top: -2px;
    margin-right: 14px;
    float: left;
}

ol,
ul {
    list-style: none;
}

.contact {
    width: 200px;
}

.icon-social {
    width: 200px;
    padding-top: 14px;
    border-color: rgba(76, 177, 202, 1);
}

div.icon-social div {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: white;
}

div.icon-social img {
    width: 18px;
    height: 19px;
    padding-top: 10px;
    padding-left: 11px;
}

/* Footer botton */

footer {
    /* display: flex;
    flex-direction: row; */
    background-color: rgba(11, 75, 90, 1);
    line-height: 4em;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div {
    color: rgba(177, 220, 231, 1);
}

footer a {
    margin-left: 19px;
    color: rgba(177, 220, 231, 1);
}

footer span {
    color: rgba(177, 220, 231, 1);
    margin-left: 10px;
}