body {
    background: rgb(132, 160, 95);

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.circle {
    border-radius: 50%;
    box-shadow: 10px 10px 50px black;
}

.btn {
    width: 200px;
    height: 65px;
    border-radius: 40px;
    color: white;
    background-color: rgb(132, 160, 95);
    font-size: large;
    position: absolute;
    left: 400px;
    top: 310px;
    border: 2px solid rgb(209, 202, 202);

}

#btnAction {
    width: 200px;
    height: 65px;
    color: white;
    background-color: rgb(141, 160, 95);
    border-radius: 40px;
    font-size: large;
    position: absolute;
    left: 400px;
    top: 310px;
    border: 2px solid rgb(209, 202, 202);
}

#btnInput {
    width: 200px;
    height: 65px;
    border-radius: 40px;
    font-size: large;
    position: absolute;
    left: 100px;
    top: 310px;
    border: 2px solid rgb(209, 202, 202);
}