/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --size-w: 1000px;
    --size-h: 500px;
}

/* Top */

body {
    font-size: 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

address img {
    width: 1.1em;
    height: 1em;
    margin-left: 5em;
    margin-right: 0.2em;
}

.button_log {
    background-color: white;
    padding: 1% 3%;
    border-radius: 30px;
    border-width: 0px;
    color: #135EC5;
    font-weight: bold;
    text-transform: uppercase;
}

.mersedes {
    /* width: 100%; */
    background-color: black;
    padding-top: 3em;
}

.mersedes img {
    display: block;
    margin: 0 auto;
    max-width: 750px;
}

.mersedes figcaption {
    font-size: 1em;
    font-weight: 200;
    color: white;
    text-align: center;
    padding: 3em 0;
}

nav {
    padding: 2%;
    background-color: black;
}

nav form {
    display: flex;
    justify-content: space-between;
}

.input_search {
    font-size: 1.3em;
    font-weight: bold;
    color: #3C3C3C;
    border: 0px;
    background-color: inherit;
    width: 25%;
}


.button_search {
    padding: 1% 0;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    border-width: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


input::placeholder {
    color: white;
}

/* Models  */

.models {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.models p {
    font-size: 1em;
    color: #C1C1C1;
    margin-bottom: 1em;
}

.models figure {
    width: 100%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.models figure a img {
    width: 100%;
    max-width: 7em;
}

/* BMW */

.bmw {
    display: flex;
    margin: 3% 0%;
    align-items: center;
}


.bmw_img,
.bmw_info {
    width: 50%;
    padding: 1%;
}

.bmw_img img {
    width: 100%;
}

.bmw h2 {
    font-size: 2em;
    color: rgba(19, 94, 197, 1);
}

.bmw button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
}

.bmw_info p {
    color: #C1C1C1;
    line-height: 2em;
    font-size: 1.1em;
}

/* BMW_add */

.bmw_add button {
    padding: 1% 4%;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    margin: 1em 0em;
}

.bmw_add h2 {
    color: white;
    font-size: 2em;
}

.bmw_add {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, white 50%, rgba(19, 94, 197, 1) 50%);

}

.bmw_add img {
    width: 80%;
}



/* Mercedes */

.mercedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
}

.mercedes_info {
    width: 320px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}


.fresh_left {
    padding: 2% 7%;
    background-color: white;
    border-radius: 30px;
    color: rgba(19, 94, 197, 1);
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
    position: absolute;
    left: 68%;
    top: 3%;
}


div.mercedes_info>h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 6.5em;
    color: rgb(22, 99, 206);
    text-transform: uppercase;
}

.mercedes_info {
    background: linear-gradient(to top, white 65%, rgba(19, 94, 197, 1) 35%);
}

div.mercedes_info figure {
    margin-top: -25%;
}

div.mercedes_info p {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}

div.mercedes_info p:nth-of-type(1) {
    font-size: 1em;
    color: black;
}

div.mercedes_info p:nth-of-type(2) {
    font-size: 0.6em;
    color: #135EC5;
}

div.mercedes_info p:nth-of-type(3) {
    font-size: 0.8em;
    font-weight: 400;
    color: #C1C1C1;
}


.price {
    /* width: 100%; */
    margin-top: 2%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.price p:nth-of-type(1) {
    font-size: 1.2em;
    color: #16AD2C;
}

.more_info {
    padding: 3% 10%;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
}




.mercedes_order {
    width: 600px;
    height: 600px;
    margin-top: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, white 50%, rgba(19, 94, 197, 1) 50%);
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

.mercedes_order :first-child {
    display: flex;
    flex-direction: row;
}

.fresh_right {
    padding: 2% 7%;
    background-color: white;
    border-radius: 30px;
    color: rgba(19, 94, 197, 1);
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
    position: absolute;
    left: 68%;
    top: 3%
}

.mercedes_order div:nth-child(3) img {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 100%;
    max-width: 80%;
}


.mercedes_order div p:nth-of-type(1) {
    font-size: 0.7em;
    color: hwb(0 89% 11%);
}

.mercedes_order div:nth-child(1) p:nth-of-type(2) {
    font-size: 1.2em;
    color: green;
    padding-left: 20%;
}

.mercedes_order div:nth-child(2) {
    width: 44%;
    margin-top: 20%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    color: hwb(0 89% 11%);
    font-size: 0.8em;
    line-height: 230%;
}

.mercedes_order div:nth-child(2) p:nth-of-type(1) {
    font-size: 1.3em;
    color: #135EC5;
    font-weight: bold;
    padding-left: 3%;
}


.order_car {
    padding: 4% 10%;
    background-color: #135EC5;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    margin-top: 100%;
    width: 60%;
}


/* Footer */

footer {
    display: flex;
    margin-top: 5%;
    margin: auto;
    width: 70%;
    margin-left: 15%;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}



.input_footer {
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.search_footer {
    padding: 1.2%;
    margin-bottom: 5%;
    margin-left: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #e6e6e6;
    color: #d6d5d5;
    font-weight: bold;
    border-radius: 0px;
    background-color: inherit;
    width: 11em;
}


.form_footer_advanced {
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(19, 94, 197, 1);
    flex-wrap: wrap;
}

.footer_advanced {
    background-color: rgba(19, 94, 197, 1);
    color: #FFFFFF;
    border-color: rgb(26, 120, 252);
    width: 11em;
}




input::placeholder {
    color: #C1C1C1;
}

footer figure {
    width: 100%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


footer figure a img {
    width: 100%;
    max-width: 7em;
}

.button_hide {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -3%;
    color: white;
    background-color: rgba(19, 94, 197, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-transform: none;
    border-color: rgba(19, 94, 197, 1);
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
}

.button_footer_position {
    margin-top: 3%;
    margin-bottom: 7%;
    color: rgba(19, 94, 197, 1);
    background-color: white;
    border-radius: 30px;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: white;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
}


.button_place {
    margin-top: -1%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(19, 94, 197, 1);
}


@media screen and (min-width: 750px) and (max-width: 1000px) {

    .mercedes {
        flex-direction: column;
    }

    .search_footer {
        width: 20em;
    }

}

@media screen and (min-width: 500px) and (max-width: 749px) {

    header {
        min-width: calc(var(--size-w) - 500px);
        max-width: calc(var(--size-w) - 251px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    header>*:last-child {
        align-self: center;
        margin-top: 3em;
    }

    .mersedes img {
        max-width: calc(var(--size-w) - 500px);
    }

    .models figure a img {
        width: 4em;
    }

    .mercedes {
        flex-direction: column;
    }

    .mercedes_order {
        max-width: calc(var(--size-w) - 500px);
    }


}

@media screen and (min-width: 320px) and (max-width: 499px) {

    header {
        min-width: calc(var(--size-w) - 680px);
        max-width: calc(var(--size-w) - 501px);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header>*:last-child {
        align-self: center;
        margin-top: 3em;
    }

    .mersedes img {
        max-width: calc(var(--size-w) - 680px);
    }

    address img {
        margin-left: 1em;
        font-size: 0.8em;
    }

    nav form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_search {
        margin-top: 1em;
    }

    nav form>*:last-child {
        align-self: center;
        margin-top: 1em;
        padding: 2% 1%;
    }

    .bmw {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .bmw_img,
    .bmw_info {
        width: 95%;
    }

    .bmw_add h2 {
        color: white;
        font-size: 1.5em;
    }

    .mercedes {
        flex-direction: column;
    }

    .mercedes_order {
        max-width: calc(var(--size-w) - 680px);
    }

    .mercedes_order div:nth-child(3) img {
        top: 55%;
        left: 16%;
    }

    .order_car {
        margin-top: 130%;
    }

    footer {
        width: 100%;
        margin-left: 0%;
    }


    .search_footer {
        width: 100%;
    }

    .mercedes_order div:nth-child(1) p:nth-of-type(2) {
        padding-left: 5%;
    }


    .fresh_right {
        top: 1%
    }
}