* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: chartreuse;
}

ul li {
    list-style: none;
}

ul {
    margin-bottom: 0;
}

#navbarTogglerDemo02 a {
    color: white;
}

#navbarTogglerDemo02 a:hover {
    color: chartreuse;
}

#navbarTogglerDemo03 a {
    color: white;
}

#navbarTogglerDemo03 a:hover {
    color: chartreuse;
}

body {
    font-family: Arial;
    font-size: 23px;
}

header {
    background: url('./img/fone.png') no-repeat;
    background-size: cover;
    min-height: 640px;
}

nav {
    background: rgba(0, 0, 0, 0.6);
}

.navbar-toggler {
    border-color: aquamarine;
}


form {
    background: rgba(0, 0, 0, 0.6);
    width: 300px;
    color: white;
}

input {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 0.9em;
    border-bottom: 2px solid white;
    text-align: center;
}


button {
    color: white;
    font-weight: bold;
    background-color: #0AA321;
    border: none;
    height: 1.9em;
}

button:hover {
    transform: scale(1.1);
}


#form {
    height: 388px;
}

section a {
    color: rgb(116, 212, 20);
    text-decoration: none;
    font-weight: 400;
}



.services {
    background: url('./img/fone2.png') no-repeat;
    background-size: cover;
    min-height: 400px;
    color: white;
}



.services img {
    height: 163px;
}

.place {
    min-height: 300px;
}

footer {
    background-color: black;
    min-height: 160px;
    margin-top: 50%;
}

footer p {
    color: white;
    font-size: 0.4em;
}


#soc {
    max-width: 179px;
    min-width: 179px;
}

@media screen and (min-width: 320px) and (max-width: 750px) {


    footer div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer p {
        margin-top: 7%;
    }
}