* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    font-family: Arial;
    font-size: 18px;
}


header {
    background: url('../img/Main_track.png') no-repeat;
    background-color: rgb(67, 54, 54);
    background-size: cover;
    padding: 2%;

}


.header_top {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr 1fr 1fr;
    grid-column-gap: 1%;
    align-items: center;
}


.header_top nav {
    grid-column-start: 2;
}


.header_top nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header_top nav ul li {
    margin-left: 2em;
}

.header_top button img {
    padding-top: 2%;
}

.header_top a {
    font-size: 0.9em;
    color: white;
    text-transform: uppercase;
}


.header_top button:nth-of-type(1) {
    border-width: 0px;
    background-color: transparent;
}

.header_top button:nth-of-type(2) {
    width: 12em;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}


.header_bottom {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding-top: 2em;
    padding-bottom: 4em;
}


.header_bottom p:nth-of-type(1) {
    color: #D596BA;
    font-weight: 400;
    grid-column-start: 2;
}

.header_bottom p:nth-of-type(2) {
    color: magenta;
    font-weight: 400;
    grid-column-start: 2;
}


.header_bottom h2 {
    color: white;
    font-size: 4em;
    font-weight: 400;
    grid-column-start: 2;
}

.header_bottom button {
    width: 18em;
    padding: 1em;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #D80B1A;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    grid-column-start: 2;
    grid-row-start: 8;
    margin-bottom: 15%;
}



.all_freight {
    background-color: rgb(181, 149, 149);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    justify-items: center;
}

.freight:nth-of-type(1) {
    grid-column-start: 2;
}

.freight:nth-of-type(2) {
    grid-column-start: 3;
}

.freight:nth-of-type(3) {
    grid-column-start: 4;
}

.freight p:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    justify-self: left;
}

.freight a:nth-of-type(1) {
    grid-column-start: 4;
    grid-row-start: 2;
    justify-self: right;
}

.freight {
    width: 350px;
    margin-top: -40px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 6px 10px 2px 1px rgba(72, 72, 74, 0.2);
}

.freight img {
    width: 80%;
    margin: auto;
    margin-top: -2em;
}

.info {
    padding: 2em;
    background-color: white;
}

.freight h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
}

.freight h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.6em;
    width: 50%;
    height: 7px;
    background-color: #D80B1A;
}



div.all_freight p:nth-of-type(1) {
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
    color: silver;
    padding-top: 1em;
    padding-bottom: 1em;
}


.all a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    align-self: flex-end;
}

.all {
    text-align: right;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-right: 5%;
}

.info p {
    padding-top: 10%;
    padding-bottom: 30%;
}