* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 700px;
    margin: 100px;
}

.hamburger-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hamburger-box>div {
    border: 2px solid rgb(37, 36, 123);
    border-radius: 5%;
}

.hamburger-box-header {
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
    color: rgb(37, 36, 123);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10%;
    margin-bottom: 1%;
}

.hamburger-box-img {
    background-image: url('./img/hamburger.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 320px;
}

.hamburger-box-form {
    width: 50%;
    background-color: blanchedalmond;
}

.hamburger-box-end {
    width: 50%;
    background-color: blanchedalmond;
    height: max-content;
    margin: 10px;
}

#hamb-order {
    display: flex;
    flex-direction: column;
}

#hamb-order h2 {
    font-size: 20px;
    color: rgb(37, 36, 123);
    text-align: center;
}

select {
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(197, 177, 226);
}

.topping {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
}

#submit {
    width: 70%;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    color: rgb(37, 36, 123);
}

.tooltip {
    width: fit-content;
    height: max-content;
    color: rgb(51, 0, 255);
    background-color: azure;
    font-weight: 700;
}